<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>MyApp1</title>
=======
  <title>Myapp1</title>
>>>>>>> 5d3c0b602118872729ceaeaf0834e6221a47d92e
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<<<<<<< HEAD
<body>
=======
<body style="background: #EEEEEE;">
>>>>>>> 5d3c0b602118872729ceaeaf0834e6221a47d92e

<%= yield %>

</body>
</html>
